@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }
  body {
    @apply overflow-x-hidden;
  }
}


::-webkit-scrollbar {
    width: 16px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; 
    
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  